@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap');
@import url('https://fonts.googleapis.com/css?family=Covered+By+Your+Grace&display=swap');
html {
	background: url('https://raw.githubusercontent.com/BlackrockDigital/startbootstrap-agency/master/img/header-bg.jpg')
		no-repeat center center fixed;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	margin: 0;
	padding: 0;
}
ul,
menu {
	margin: 0;
    padding: 0;
    list-style-type: none;
}

/* START */
/* NAV CSS AT FULL SIZE || < 1000 PX */
.wrapper {
	display: flex;
	height: 10vh;
	justify-content: space-around;
	align-items: center;
	width: 100%;
}
.title,
.titletags {
	font-family: 'Covered By Your Grace', cursive;
	color: #fed136;
	font-size: 38px;
	font-weight: 600;
}
.titletags {
	color: rgb(34, 194, 101);
	font-size: 27px;
}
span {
	content: " ";
	word-spacing: 1em;
}
/* END */
/* NAV CSS AT FULL SIZE || < 1000 PX */

/* START */
/* UNIVERSAL */
ul {
	display: flex;
	justify-content: space-around;
	width: 40vw;
	font-family: 'Open Sans Condensed', sans-serif;
	color: #fff;
	font-size: 16px;
	font-weight: 600;
	letter-spacing: 2px;
	text-transform: uppercase;
}
ul li:hover {
	color: #fed136;
	cursor: pointer;
}
/* START */
/* UNIVERSAL */

/* START
AFTER SHRINK BUT BEFORE @MEDIA KICKS IN */
.shrink_nav {
	width: 85px;
	height: 30px;
	border-radius: 5px;
	background-color: #fed136;
    display: none;
    cursor: pointer;
}
.shrinknav li {
	display: none;
}
/* END
AFTER SHRINK BUT BEFORE @MEDIA KICKS IN */

/* START
MEDIA TIME */
@media screen and (max-width: 1000px) {
	.wrapper {
		width: 100vw;
		height: 7vh;
		background-color: #212529;
		opacity: 0.8;
	}
	.title {
		font-size: 25px;
	}
	.titletags {
		display: none;
	}
	span {
		content: "";
		word-spacing: 0em;
	}
	ul {
		display: none;
	}

	/* SHRINKS! */
	.shrink_nav {
		display: block;
		display: flex;
		align-items: center;
	}
	img {
		width: 30px;
	}
	.shrinknav {
        display: block;
		color: white;
		width: 30vw;
		height: 20vh;
	}

	.shrinknav li {
		font-size: 95%;
		width: 100%;
		list-style-type: upper-alpha;
		background-color: #212529;
		transition: all 2s ease-in-out;
	}
	.shrinknav li:hover {
		font-size: 96%;
		color: #fed136;
		word-spacing: 2pt;
		letter-spacing: 3pt;
        transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
	}
	.menu-open .shrinknav li {
		display: block;
		display: flex;
		padding-top: 30px;
		padding-left: 170px;
	}
	/* SHRINKS! END */

	#menu {
		transition: height 0.26s;
	}
	.menu-open,
	.menu-close {
		width: 100vw;
		opacity: 0.8;
		position: fixed;
	}
	.menu-close .shrinknav {
		max-height: 0;
		transition: all 2s ease-out;
	}
	.menu-close {
		height: 0;
	}
	.menu-open .shrinknav {
		max-height: 30vh;
	}
	@keyframes fadeIn {
		0% {
			opacity: 0.9;
		}
		100% {
			opacity: 1.0;
		}
	}
}
